
@{
    ViewBag.Title = "Tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
                <table>
                    <thead>
                        <tr>
                            <th>Id Tarea</th>
                            <th>Nombre Tarea</th>
                            
                        </tr>
                    </thead>
                </table>

            </div>

        </div>

    </div>

</div>



